# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env
.env.*
.envrc

# Django
*.log
db.sqlite3
staticfiles/
media/

# Migrations cache
*/__pycache__/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.pid